/* Fonts */

@import 'fonts.css';

/*
Main CSS File
own classes get aw-prefix
 */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

h1 {
    color: #fff;
    font-size: 66px;
    font-weight: lighter;
}

h3 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 40px;
}

h3:first-letter {
    font-weight: bold;
}

.aw-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 10px;
}

/* Sections */
.aw-section {
    padding: 85px 0;
}


.aw-space-between {
    justify-content: space-between;
}

.aw-align-center {
    align-items: center;
}

/* Header Classes */

header {
    position: relative;
}

header nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

nav.aw-nav-background {
    background: rgba(0, 0, 0, .6);
}

header nav ul.aw-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

}

header nav ul.aw-navigation li a {
    display: block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 10px
}

header nav ul.aw-navigation li:last-child a {
    padding-right: 0;
}

header nav ul.aw-navigation li a:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header nav ul.aw-navigation li a:hover:after {
    width: 100%;
    opacity: 1;
}

.aw-logo {
    display: flex;
    color: #fff;
    font-size: 26px;
    border: solid 2px #fff;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.aw-header-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.aw-header-text .aw-arrow {
    display: inline-block;
    border: solid #fff;
    padding: 10px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    cursor: pointer;
}

.aw-main-banner {
    display: block;
    width: 100%;
}

/* About us */

#about .aw-column {
    width: 50%;
    margin-top: 25px;
    text-align: center;
}

#about i {
    font-size: 45px;
}

/* Gallery */

#gallery {
}

#gallery .aw-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#gallery .aw-gallery li {
    width: 20%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#gallery .aw-gallery li img {
    display: block;
    width: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#gallery .aw-gallery li img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.aw-gallery li:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.aw-gallery li:hover:after {
    width: 0;
    height: 0;
}

/* Testimonials */

.aw-testimonials-container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.aw-testimonials-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.aw-testimonials-container ul li{
    min-width: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
}

.aw-testimonial {
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 10px;
    max-width: 600px;
}


.aw-testimonial-text {
    padding: 10px;
    font-style: italic;
    text-align: center;
}


.aw-user-data {
    padding: 0 10px
}

.aw-user-data  {
    text-align: center;
}

.aw-user-data img {
    border-radius: 50%;
}

.aw-user-data .aw-user-name {
    display: block;
}

.aw-testimonials-container .aw-arrow {
    display: inline-block;
    border: solid #333;
    padding: 15px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.aw-testimonials-container .aw-arrow.aw-arrow-left {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 50px;
}

.aw-testimonials-container .aw-arrow.aw-arrow-right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 50px;
}

.aw-testimonials-container .aw-arrow:hover{
    padding: 20px;
    top: 50%;
}

/* Contact */

#contact {
    background: #f8f8f8;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

#contact form input:not([type="submit"]),
#contact form textarea
{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #ccc;
    font-size: 14px;
    outline: none;
}

#contact form textarea {
    height: 150px;
    resize: none;
}

#contact form *::-webkit-input-placeholder {
    color: #ccc;
    font-style: italic;
}

#contact form *::-moz-placeholder {
    color: #ccc;
    font-style: italic;
}

#contact form *:-ms-input-placeholder {
    color: #ccc;
    font-style: italic;
}

#contact form input[type="submit"] {
    width: 100%;
    border: none;
    padding: 20px;
    color: #fff;
    background-color: #d22c2c;
    cursor: pointer;
    font-size: 16px;
    box-shadow: inset 0 -5px 5px 0px #b52525;
    outline: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#contact form input[type="submit"]:hover {
    box-shadow: inset 0 -5px 5px 0px #821e1e;
}


/* Footer */

footer {
    background-color: #444;
}

footer .aw-logo {
    width: 45px;
    height: 45px;
    font-size: 20px;
}

footer .aw-social-icons {
    display: flex;
    list-style-type: none;

}

footer .aw-social-icons li {
    margin-left: 35px;
}

footer .aw-social-icons li a {
    color: #fff;
    font-size: 25px;
    display: flex;
    opacity: 0.5;
    -webkit-transition: all .3s ease;
    transition: all .6s ease;
}

footer .aw-social-icons li a:hover{
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

/* Animations */

.aw-pulsate {
    -webkit-animation: pulsate 3s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    opacity: .3;
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.3}
    50% {opacity: 1}
    100% {opacity: .3}
}